##<generate npm />

.vscode
node_modules
*.DS_Store
ignored
.npmignore

##<for npm>
##.babelrc
##.editorconfig
##.gitignore
##tsconfig.json
##</for>

gitlogg.json
npm-debug.log

##<for git>
lib
##</for>
